{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> DKRON</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body style="background-image:url({% static 'images/2.jpg' %})">
        <nav>
            <p> DKRON </p>
            <ul>
                <li> <a href="{% url 'index' %}"> HOME </a> </li>
                    <li> <a href="#"> JOBS </a>
                      <ul>
                          <li> <a href="#"> Add filter </a> </li>
                          <li> <a href="{% url 'create' %}"> Create </a> </li>
                          <li> <a href="#"> Export </a> </li>
                      </ul>
                </li>
                <li> <a href="#">DASHBOARD </a></li>
                <li> <a href="#">BUSY </a></li> 
            </ul>
        </nav>
        {%block content %}
        {% endblock %}
    </body>
</html>

   
