{% extends 'base.html' %}
{% load static %}

{% block title %}
Create a Job
{% endblock %}

{% block contentt %}
<link rel="stylesheet" href="{% static 'css/style_create.css' %}">
<script src="{% static '/js/create.js' %}"></script>
<br><br>
<div class=form_createe>
    <form action="schedule" name=jobcreate method="POST">
        {% csrf_token %}
        <label for="jobname">Job name:</label>
        <input type="text" id="jobname" name="jobname" ><br><br>
        <label for="report">Report:</label>
        <label class="creport">Only Once
            <input type="radio" name="pre" onclick="tporemove()"  value='1'>
        </label>
        <label class="creport">By Minute
            <input type="radio" name="pre" onclick="tporemovemin()"  value='2'>
        </label>
        <label class="creport">Hourly
            <input type="radio" name="pre" onclick="tporemovehour()"  value='3'>
        </label>
        <label class="creport">Daily
            <input type="radio" name="pre" onclick="tporemovedaily()"  value='4'>
        </label>
        <label class="creport">Weekly
            <input type="radio" name="pre" onclick="tpo()"  value='5'>
        </label>
        <label class="creport">Monthly
            <input type="radio" name="pre" onclick="tporemovemonth()"  value='6'>
        </label>
        <br><br>
        <label for="schedulefor">Schedule at:</label>
        <input type="date" id="scheduleford" name="Date" >
        <div id="forhour">
            <input type="number" id="forhouri" name="hours" min="0" max="23">
        </div>
        <div id="domm">
            <input type="number" id="dommm" name="day_month" min="0" max="31">
        </div>
        <div id="downpp">
            <select name="day_week" id="dowww" placeholder="Select a day">
                <option value="MON">Monday</option>
                <option value="TUE">Tuesday</option>
                <option value="WED">Wednesday</option>
                <option value="THU">Thursday</option>
                <option value="FRI">Friday</option>
                <option value="SAT">Saturday</option>
                <option value="SUN">Sunday</option>
            </select>
        </div>
        <input type="time" id="schedulefort" name="Time" >


        <div id="forminn">
            <input type="number" id="forminc" name="mins" min="0" max="59">
        </div>
	
	<br><br>
	 <label for="process">Command:</label>
        <input type="text" id="jobname" name="process" ><br><br>

        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>



{% endblock %}